button.link {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: #646cff;
}

.text-small {
  font-size: 0.8rem;
  color: var(--pico-muted-color);
}
